<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Tryppio</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/map-main">Main Map</a>
    </li>
    <li>
      <a mat-button routerLink="/upload-images">Upload</a>
    </li>
    <li>
      <a mat-button routerLink="/view-images">View</a>
    </li>
    <li>
      <a mat-button routerLink="/edit-images">Edit</a>
    </li>
    <li>
      <a mat-button routerLink="/locate-images">Locate</a>
    </li>
  </ul>
</mat-toolbar>
