<app-header></app-header>
<!-- <router-outlet></router-outlet> -->

<div class="container" fxLayout="row" height="100%" width="100%">
  <div class="content" fxFlex="66%">
    <div fxFlex="100%">Content</div>
  </div>
  <div class="side" fxFlex="34%">
    <div fxFlex="100%">Side</div>
  </div>
</div>
<!--
<div
    fxLayout="column"
    fxLayoutAlign="start none"
    class="fixVertical yellow">

    <header
      class="flex-container"
      fxLayout="row"
      fxLayoutAlign="center center">
        <div fxFlex="20"></div>
        <div fxFlex="60">  this is my header  </div>
        <div fxFlex ></div>
    </header>

    <div class="flex-container" fxFlex fxFlexFill>
      <div
        [fxLayout]="direction"
        (click)="toggleDirection()"
        class="colored" >
        <div fxFlex="20">  fxFlex="20"  </div>
        <div fxFlex="60">  fxFlex="60"  </div>
        <div fxFlex >      fxFlex       </div>
      </div>
    </div>
    <footer
      class="flex-container"
      fxLayout="row"
      fxLayoutAlign="center center">
      this footer should always stick to the bottom of the page
    </footer>
  </div> -->
